name: flutter_force_permission
description: Show permission disclosure page and allows required permissions before user can proceed.
version: 0.2.1
homepage: https://gogovan.hk

publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.8.0
  # Use official version instead of fork to fix v1 embedding issues
  permission_handler: ^12.0.1
  app_settings: ^7.0.0
  shared_preferences: ^2.0.15

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  dart_code_metrics: ^5.4.0
  mockito: ^5.3.2
  build_runner: ^2.3.2